
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');



:root {

}




p, h1, h2, h3, h4, body, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type:none;
}


.pagecrm_body {
    background-image: url("../images/mobile_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.pagecrm_header {
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
}

.pagecrm_header-top {
    display: flex;
    justify-content: space-between;
 
}

.pagecrm_header-top__logo {

}
.pagecrm_header-top__phone {
    color: #FFFFFF;    
}

.pagecrm_header-mobile {
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    gap: 17px;
}

.agecrm_header-mobile__humburger {
    background-image: url("../images/humburger.svg");
    background-size: contain;
    height: auto;
    width: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.agecrm_header-mobile__search {
    flex-grow: 1;
    width: 100%;
    height: 25px;
    position: relative;
    
}
.agecrm_header-mobile__search_input {
    width: calc(100% - 30px);
    background: linear-gradient(180deg, rgba(46, 51, 90, 0.3) 0%, rgba(28, 27, 51, 0.3) 100%);
    padding: 0;
    border-radius: 20px;
    border: none;
    height: 100%;
    padding-left: 30px;
    outline: 1px solid; 
    outline-color: #FFFFFF;
    color: #FFFFFF;
}
.agecrm_header-mobile__search_search {
    background-image: url("../images/search.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -21px;
    left: 10px;
}
.pagecrm_bread {
    padding: 12px 8px;
}

.pagecrm_bread-items {
    position: relative;
    display: flex;
    gap: 15px;
    padding-left: 0;
    overflow: auto;
}

.pagecrm_bread-lnk {
    display: block;
    color: rgba(233, 222, 255, 1);
    font-size: 12px;
   
}

.pagecrm_bread-item {
    display: flex;
}

.pagecrm_bread-item::before {
 content: url("../images/arrow_to_right.svg");
 width: 5px;
 height: 8px;
 position: relative;
 left: -6px;
 top: -2px;
}

.pagecrm_bread-item_first::before {
    content: none;  
}


.pagecrm_bread-item {
    flex-shrink: 0;
}



/* -----------------   slide ------------- */
.pagecrm_slide {
    
    background-image: url("../images/crm_lines.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.pagecrm_slide-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}

.pagecrm_slide-wrap {
    padding: 34px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    top: -38px;
}


.pagecrm_slide-img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.pagecrm_slide-button {
    padding: 10px 40px;
    background-color:     rgba(177, 149, 255, 0.5);   
    font-size: 14px;
    font-weight: 700;
    line-height: 16.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 20px;
    border-color: aqua;
box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1);

}

.pagecrm_slide-right-area {
    width: 48px;
    height: 94px;
    top: 220px;
    left: 312px;
   position: relative;
    border-radius: 15px 0px 0px 15px;
    background: rgba(29, 1, 65, 0.3);
    top: 103px;   
    left: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.pagecrm_slide-right-top {
   
}
.pagecrm_slide-right-bottom {
}

.pagecrm_slide-right__img {
    width: 23px;
    height: 23px;
    object-fit: contain;

}

.pagecrm_slide-right__button {
    display: flex;
    justify-content: center;
    align-items: center ;
}


/* ----------------------- main --------------------------- */


.pagecrm_main {
    display: flex;
    flex-direction: column;
    gap: 74px;
    padding: 0 10px;

}

.pagecrm_block {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.pagecrm_block-title {
}

.pagecrm_block-bisness {
    display: flex;    
    flex-direction: column;
    gap: 15px; 
}

.pagecrm_block-title__text {
    color: #FFFFFF;
   font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.02em;
text-align: center;

}

.pagecrm_bisness-lineblock {
    display: flex;
}
.pagecrm_bisness-content {
    width: 50%;
    display: flex;
    gap: 5px;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.pagecrm_bisness-content__img {
    max-width: 80%;
}
.pagecrm_bisness-content__text {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;

}

.pagecrm_block-partner {
    display: flex;
    max-width: 100%;
    border: 1px solid;
    border-radius: 10px;
    border-color: #9400FF;
    box-shadow: 0px 0px 20px 0px rgba(215, 149, 255, 1);
    min-height: 190px;
}

.pagecrm_block-partner-left {
    width: 50%;
    padding: 21px 3px 38px 3px;
    border-radius: 10px 0px 0px 10px;   
    background: linear-gradient(230.07deg, #FFFFFF -50.81%, #0E9DDD 94.55%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagecrm_block-partner-right {
    width: 50%;
    background: rgba(72, 5, 114, 0.5);   
    padding: 10px;
    gap: 10px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.pagecrm_block-partner-logo {
    display: flex;
    justify-content: center;
}

.pagecrm_block-partner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.pagecrm_block-partner__img {
    max-width: 100%;
    max-height: 115px;
    margin-top: 12px;
}
    
.pagecrm_block-partner__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;    
     color: #E9C6FF;
}
.pagecrm_block-partner-logo__img {
}

.pagecrm_block-partner-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pagecrm_block-partner__list {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    gap: 6px;
}

.pagecrm_block-partner__list::before {
    content: url("../images/check_circle.svg");
    width: 20px;
    height: 20px;
}



/* ---------- общие элементы -------------- */
.main__button {


}

/* ---------------------------------------- */

.pagecrm_block-form {
padding: 44px 16px;
}

.pagecrm_block-form-title {

}

.pagecrm_block-form-title__text {

}

.pagecrm_block-form-title__subtext {

}

.pagecrm_block-form__input {

}

.pagecrm_block-form__button {

}